@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web;
@{ 
    var site = Model.Content.Site();
    var selection = site.Children.Where(x => x.IsVisible());
}
@*
<!-- uncomment this line if you don't want it to appear in the top navigation -->
<a class="nav-link @Html.Raw(Model.Content.Id == site.Id ? "navi-link--active" : "")" href="@site.Url">@site.Name</a>
@foreach (var item in selection)
{
    <a class="nav-link @(item.IsAncestorOrSelf(Model.Content) ? "nav-link--active" : null)" href="@item.Url">@item.Name</a>
}
*@
    <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
    <form class="menu-layer primary" action="/" target="_top">
        <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle' onclick=Close();></button>
        <div class="items">
            <a class="menu-item item-layer-1 @Html.Raw(Model.Content.Id == site.Id ? "active" : "")" href="@site.Url">@site.Name</a>
            @foreach (var item in selection)
            {
                <a class="menu-item item-layer-1 @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)" href="@item.Url">@item.Name</a>
            }
 @*           
    <label class="menu-item item-layer-1 has-sub-level active">
        <input type="checkbox">
        Kancelaria
        <div class="submenu menu-layer secondary">
            <div class="return-button">Back</div>
            <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
            <div class="items">
                        <a class="menu-item item-layer-2" href="/Kancelaria">O Kancelarii</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/AdwokatJaroslawGrzegorzSzkudlarek">Adwokat Jarosław Grzegorz Szkudlarek</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/Podziekowania">Podziękowania</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/Aplikanci">Aplikanci</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/Referencje">Referencje</a>
            </div>
        </div>
    </label>
    <label class="menu-item item-layer-1 has-sub-level active">
        <input type="checkbox">
        Usługi
        <div class="submenu menu-layer secondary">
            <div class="return-button">Back</div>
            <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
            <div class="items">
                        <a class="menu-item item-layer-2" href="/Kancelaria/PrawoCywilne">Prawo Cywilne</a>
                        <label class="menu-item item-layer-2 has-sub-level">
                            <input type="checkbox">Odszkodowania
                            <div class="submenu menu-layer tertiary">
                                <div class="return-button">Back</div>
                                <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
                                <div class="items">
                                <a class="menu-item item-layer-3" href="/Kancelaria/Odszkodowania">Sprawy O Odszkodowania</a>
                                <a class="menu-item item-layer-3" href="/Kancelaria/WypadkiKomunikacyjne">Wpadek komunikacyjny</a>
                                <a class="menu-item item-layer-3" href="/Kancelaria/BladWSztuceLekarskiej">Błąd w sztuce lekarskiej</a>
                                <a class="menu-item item-layer-3" href="/Kancelaria/OdszkodowaniaPrzesylowe">Odszkodowania Przesyłowe</a>
                                <a class="menu-item item-layer-3" href="/Kancelaria/AdwokatAFirmaOdszkodowawczaRoznice">Adwokat A Firma Odszkodowawcza R&#243;żnice</a>
                                </div>
                            </div>
                        </label>
                        <a class="menu-item item-layer-2" href="/Kancelaria/PrawoRodzinne">Prawo Rodzinne</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/PrawoSpadkowe">Prawo Spadkowe</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/PrawoPracy">Prawo Pracy</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/PrawoRzeczowe">Prawo Rzeczowe</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/PrawoGospodarcze">Prawo Gospodarcze</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/PrawoAdministracyjne">Prawo Administracyjne</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/PrawoNieruchomosciIBudowlane">Prawo Nieruchomości i Prawo Budowlane</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/PrawoKarne">Prawo Karne</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/PrawoPodatkowe">Prawo Podatkowe</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/ObslugaPrzedsiebiorstw">Obsługa Przedsiębiorc&#243;w</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/Windykacja">Windykacja</a>
            </div>
        </div>
    </label>
    <label class="menu-item item-layer-1 has-sub-level active">
        <input type="checkbox">
        Honorarium
        <div class="submenu menu-layer secondary">
            <div class="return-button">Back</div>
            <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
            <div class="items">
                        <a class="menu-item item-layer-2" href="/Kancelaria/Cennik">Cennik</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/AdwokatZUrzedu">Adwokat z urzędu</a>
            </div>
        </div>
    </label>
    <label class="menu-item item-layer-1 has-sub-level active">
        <input type="checkbox">
        Rozwody
        <div class="submenu menu-layer secondary">
            <div class="return-button">Back</div>
            <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
            <div class="items">
                        <a class="menu-item item-layer-2" href="/Kancelaria/SprawyRozwodowe">Sprawy Rozwodowe</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/PodzialMajatku">Podział Majątku</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/Alimenty">Alimenty</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/WladzaRodzicielska">Władza rodzicielska</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/Mediacje">Mediacje</a>
                        <a class="menu-item item-layer-2" href="/Kancelaria/RozwodyZZagranicy">Rozw&#243;d z zagranicy</a>
            </div>
        </div>
    </label>
    <a class="menu-item item-layer-1" href="/Kancelaria/KontaktLokalizacja">Kontakt</a>
    *@
        </div>
    </form>
</amp-sidebar>
<header class="header fixed">
    <div class="container">
        <div class="nav-container">
            <div class="left-nav alt"itemscope itemtype="http://schema.org/SiteNavigationElement">
                <a href="@this.Request.Url.Scheme://@this.Request.Url.Authority" class="tab"><span>@((site as Home).Sitename)</span></a>
                <div class="tabs">
                    <div class="tab">
                        <a class="menu-item @Html.Raw(Model.Content.Id == site.Id ? "active" : "")" href="@site.Url">@site.Name</a>
                    </div>
                    @foreach (var item in selection)
                    {
                        <div class="tab">
                            <a class="menu-item @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)" href="@item.Url">@item.Name</a>
                        </div>
                    }
                </div>
            </div>
            <div class="right alt">
                <form action="//www.google.com/search" method="get" class="searchbar" target="_top">
                    <input class="query" name="q" type="text">
                    <input name="as_sitesearch" type="hidden" value="adwokat-szkudlarek.pl">
                    <button name="search" type="submit"></button>
                </form>
                <button class="tab hamburger" id="menu-button" on='tap:sidebar.toggle'onclick=Open();>Menu</button>
            </div>
        </div>
    </div>
</header>


