@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web;
@{
    var isAMP = this.Request.Url.ToString().Contains("amp=true");
    var site = Model.Content.Site();
    var mainImageUrl = (Model.Content.GetPropertyValue("SiteLogo") as Image) != null ? ((Image)Model.Content.GetPropertyValue("SiteLogo")).Url : string.Empty;
    var selection = site.Children.Where(x => x.IsVisible());
}
<amp-sidebar id='sidebar' side='right' layout='nodisplay'>
    <form class="menu-layer primary" action="/" target="_top">
        <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle' @(isAMP ? "" :  "onclick=Close();") aria-label="Close Mobile Menu"></button>
        <div class="items">
            @foreach (var item in selection)
            {
                if (!item.Children.Any())
                {
                    <a class="menu-item item-layer-1 @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)" href="@item.Url">@item.Name</a>
                }
                else
                {
                    <label class="menu-item item-layer-1 has-sub-level @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)">
                        <input type="checkbox">
                        @item.Name
                        <div class="submenu menu-layer secondary">
                            <div class="return-button">Back</div>
                            <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle' aria-label="Close Mobile Menu"></button>
                            <div class="items">
                                <a class="menu-item item-layer-2  @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)" href="@item.Url">@item.Name</a>
                                @foreach (var subItem in item.Children)
                                {
                                    if (!subItem.Children.Any())
                                    {
                                        <a class="menu-item item-layer-2  @(subItem.IsAncestorOrSelf(Model.Content) ? "active" : null)" href="@subItem.Url">@subItem.Name</a>
                                    }
                                    else
                                    {
                                        <label class="menu-item item-layer-2 has-sub-level @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)">
                                            <input type="checkbox">
                                            @subItem.Name
                                            <div class="submenu menu-layer tertiary">
                                                <div class="return-button">Back</div>
                                                <button type="reset" class="close-button" id="menu-button2" on='tap:sidebar.toggle'></button>
                                                <div class="items">
                                                    @foreach (var subItem2 in subItem.Children)
                                                    {
                                                        if (!subItem2.Children.Any())
                                                        {
                                                            <a class="menu-item item-layer-3  @(subItem2.IsAncestorOrSelf(Model.Content) ? "active" : null)" href="@subItem2.Url">@subItem2.Name</a>
                                                        }
                                                        else
                                                        {
                                                            //TODO llayer 4
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </label>
                                    }
                                }
                            </div>
                        </div>
                    </label>
                }
            }

            @*
                <label class="menu-item item-layer-1 has-sub-level active">
                    <input type="checkbox">
                    Usługi
                    <div class="submenu menu-layer secondary">
                        <div class="return-button">Back</div>
                        <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
                        <div class="items">
                                    <a class="menu-item item-layer-2" href="/Kancelaria/PrawoCywilne">Prawo Cywilne</a>
                                    <label class="menu-item item-layer-2 has-sub-level">
                                        <input type="checkbox">Odszkodowania
                                        <div class="submenu menu-layer tertiary">
                                            <div class="return-button">Back</div>
                                            <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
                                            <div class="items">
                                            <a class="menu-item item-layer-3" href="/Kancelaria/Odszkodowania">Sprawy O Odszkodowania</a>
                                            <a class="menu-item item-layer-3" href="/Kancelaria/WypadkiKomunikacyjne">Wpadek komunikacyjny</a>
                                            <a class="menu-item item-layer-3" href="/Kancelaria/BladWSztuceLekarskiej">Błąd w sztuce lekarskiej</a>
                                            <a class="menu-item item-layer-3" href="/Kancelaria/OdszkodowaniaPrzesylowe">Odszkodowania Przesyłowe</a>
                                            <a class="menu-item item-layer-3" href="/Kancelaria/AdwokatAFirmaOdszkodowawczaRoznice">Adwokat A Firma Odszkodowawcza R&#243;żnice</a>
                                            </div>
                                        </div>
                                    </label>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/PrawoRodzinne">Prawo Rodzinne</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/PrawoSpadkowe">Prawo Spadkowe</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/PrawoPracy">Prawo Pracy</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/PrawoRzeczowe">Prawo Rzeczowe</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/PrawoGospodarcze">Prawo Gospodarcze</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/PrawoAdministracyjne">Prawo Administracyjne</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/PrawoNieruchomosciIBudowlane">Prawo Nieruchomości i Prawo Budowlane</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/PrawoKarne">Prawo Karne</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/PrawoPodatkowe">Prawo Podatkowe</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/ObslugaPrzedsiebiorstw">Obsługa Przedsiębiorc&#243;w</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/Windykacja">Windykacja</a>
                        </div>
                    </div>
                </label>
                <label class="menu-item item-layer-1 has-sub-level active">
                    <input type="checkbox">
                    Honorarium
                    <div class="submenu menu-layer secondary">
                        <div class="return-button">Back</div>
                        <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
                        <div class="items">
                                    <a class="menu-item item-layer-2" href="/Kancelaria/Cennik">Cennik</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/AdwokatZUrzedu">Adwokat z urzędu</a>
                        </div>
                    </div>
                </label>
                <label class="menu-item item-layer-1 has-sub-level active">
                    <input type="checkbox">
                    Rozwody
                    <div class="submenu menu-layer secondary">
                        <div class="return-button">Back</div>
                        <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
                        <div class="items">
                                    <a class="menu-item item-layer-2" href="/Kancelaria/SprawyRozwodowe">Sprawy Rozwodowe</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/PodzialMajatku">Podział Majątku</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/Alimenty">Alimenty</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/WladzaRodzicielska">Władza rodzicielska</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/Mediacje">Mediacje</a>
                                    <a class="menu-item item-layer-2" href="/Kancelaria/RozwodyZZagranicy">Rozw&#243;d z zagranicy</a>
                        </div>
                    </div>
                </label>
                <a class="menu-item item-layer-1" href="/Kancelaria/KontaktLokalizacja">Kontakt</a>
            *@
        </div>
    </form>
</amp-sidebar>
<header class="header fixed">
    <div class="container">
        <div class="nav-container">
            <div class="left-nav alt" itemscope itemtype="http://schema.org/SiteNavigationElement">
                    <a href="@this.Request.Url.Scheme://@this.Request.Url.Authority" class="tab logoimage">
                        <div class="logo">
                            <div class="header-title"></div>
                            <div class="name"><div class="ll l1">Kancelaria Adwokacka</div><div class="ll l2">Adwokat Maciej Migus</div></div>
                        </div>
                    </a>
                <div class="tabs">
                    @foreach (var item in selection)
                    {
                        <div class="tab">
                            <a class="menu-item @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)" href="@item.Url">@item.Name</a>

                            @if (item.Children().Any())
                            {
                                <div class="list-container">
                                    <div class="list-shadow"></div>
                                    <ul>
                                        @foreach (var subItem in item.Children())
                                        {

                                            if (subItem.Children.Any())
                                            {
                                                <li class="has-sublist">
                                                    <a href="@subItem.Url">@subItem.Name</a>
                                                    <ul class="sublist">
                                                        @foreach (var subItem2 in subItem.Children())
                                                        {
                                                            <li>
                                                                <a href="@subItem2.Url" itemprop="url"><span itemprop="name">@subItem2.Name</span></a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a class=" @(subItem.IsAncestorOrSelf(Model.Content) ? "active" : null)" href="@subItem.Url" itemprop="url"><span itemprop="name">@subItem.Name</span></a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="right alt">
                <form action="//www.google.com/search" method="get" class="searchbar" target="_top">
                    <input class="query" name="q" type="text">
                    <input name="as_sitesearch" type="hidden" value="@this.Request.Url.Host">
                    <button name="search" type="submit"></button>
                </form>
                <button class="tab hamburger" id="menu-button" on='tap:sidebar.toggle' @(isAMP ? "":"onclick=Open();") >Menu</button>
            </div>
        </div>
    </div>
</header>


